<div class="page-section schedule">
  <div class="bg-beige">
    <style>.better-inline-booking-widget{position:relative;overflow:hidden}.better-inline-booking-widget iframe{position:absolute;top:0;left:0;width:100%;height:100%}</style>
      <div class="better-inline-booking-widget" data-url="https://my.practicebetter.io" data-booking-page="" data-hash="61f602773980330f40e2b815" data-theme="4f6128" data-theme-accent="b8915a" style="width:100%;max-width:550px;height:800px;" data-scrollbar-visible="false"></div>
    <script type="text/javascript" src="https://cdn.practicebetter.io/assets/js/booking.widget.js"></script>
  </div>
</div>